@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Raleway&family=Shadows+Into+Light&display=swap');
body {
  padding-top: 120px;
  padding-bottom: 10%;
  background-color: #a4bfeb;
  text-align: center;
  color: #454851;
  padding-bottom:10%;
}
.nav {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #d9dbbc;
}
.un-list {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.link {
  text-decoration: none;
  color: #454851;
  font-family: 'Shadows Into Light', cursive;
  font-size: 150%;
}

.title {
  font-family: 'Courgette', cursive;
  font-size: 40px;
  padding: 20px;
}

.subtitle {
  font-family: 'Courgette', cursive;
  font-size: 30px;
  padding: 20px;
}

.subheading {
  font-size: 20px;
  padding: 10px;
}

.button {
  font-family: 'Raleway', sans-serif;
  background-color: #a4a8d1;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0;
  border: 3px solid #454851;
  cursor: pointer;
}
.button:hover {
  background-color: #8cabbe;
}

.selector {
  font-family: 'Raleway', sans-serif;
  padding: 5px;
  border-radius: 8px;
  background-color: #a4a8d1;
  border: 3px solid #454851;
}
.selector {
  font-family: 'Raleway', sans-serif;
}
.quizContainer {
  width: 60%;
  margin: auto;
}
.quizCard {
  padding: 10px;
  border: 3px #454851 solid;
  margin-bottom: 10px;
  border-radius: 18px;
}
.question {
  text-align: center;
  padding-bottom: 10px;
}
.answerListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.answerContainer {
  text-align: left;
  width: 50%;
  padding: 5px;
  margin: 2px;
  border-radius: 8px;
}
.answerContainer:hover {
  background-color: #8cabbe;
}

.timer {
  background-color: #a4a8d1;
  position: fixed;
  top: 70px;
  font-size: 30px;
  left: 0;
  right: 0;
  padding: 5px;
}
.formContainer {
}
.formContainer * {
  margin: 5px;
}
.input {
  font-family: 'Raleway', sans-serif;
  border-radius: 4px;
  border: 1px #454851 solid;
  padding: 4px;
}
.passwords {
}

.top-score-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table {
  display: wrap;
  justify-content: space-between;
  align-items: center;
  border: 3px #454851 solid;
  border-collapse: collapse;
  width: 60%;
  font-size: 20px;
}

.tableHeader {
  margin: 5px;
  padding: 5px;
  border-bottom: 3px #454851 solid;
  background-color: #8cabbe ;
  line-height: 1.8;
}

.tableRow {
  margin: 5px;
  padding: 5px;
  background-color: #a4a8d1;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
}

.tableData {
  margin: 5px;
  padding: 5px;
}

.appJSMain {
  display: flex;
  flex-direction: column;
}

.holder {
  flex: 1 0 auto;
}

.footer {
  height: 5%;
  position: fixed;
  top: 95%;
  left: 0;
  right: 0;
  background-color: #454851;
  color: #d9dbbc;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  align-content: space-between;
}

.footerText {
  display: flex;
  margin: 0;
  padding: 0;
}

.footerInfo {
  display: flex;
  align-content: flex-end;
}

.footerLinks {

  flex-shrink: 0;
  align-items: space-between;
  align-self: flex-end;
}

.footerLinks a {
  color: #d9dbbc;
  align-content: flex-end;
  padding: 2px;
}
